<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="error.js"></script>
</head>
<!--<script th:if="${errorMessage != null}">-->
<!--        // alert("${errorMessage}");-->
<!--        alert("[[${errorMessage}]]");-->
<!--        window.location.href = "http://localhost:8081/";-->
<!--</script>-->
<body>
<!--<div>-->
<!--  <h1 id ="alert- box" style="visibility: hidden" th:text ="${errorMessage}"></h1>-->
<!--</div>-->
</body>
</html>