<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook List Page
            <span>
            <a th:href="@{/guestbook/register}">
                <button type="button" class="btn btn-outline-primary">REGISTER</button>
            </a>
        </span>
        </h1>

        <!--목록 START-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Writer</th>
                <th scope="col">Regdate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}" >
                <th scope="row">
                    <a th:href="@{/guestbook/read(gno = ${dto.gno}, page = ${result.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                        [[${dto.gno}]]
                    </a>
                </th>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
        <!--목록 END-->

        <!--하단 페이지 START-->
        <ul class="pagination h-100 justify-content-center align-items-center">

            <!--PREV버튼 START-->
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <!--PREV버튼 END-->

            <!--페이지버튼 START-->
            <li th:class=" 'page-item' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" href="#">
                    [[${page}]]
                </a>
            </li>
            <!--페이지버튼 END-->

            <!--NEXT버튼 START-->
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" href="#">Next</a>
            </li>
            <!--NEXT버튼 END-->
        </ul>
        <!--하단 페이지 END-->

        <!--모달 페이지 START-->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!--modal-header START-->
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label = "Cloes">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--modal-header END-->

                    <!--modal-body START-->
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <!--modal-body END-->

                    <!--modal-footer START-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" >Save changes</button>
                    </div>
                    <!--modal-footer END-->
                </div>
                <!--modal-content END-->
            </div>
        </div>
        <!--모달 페이지 END-->

        <script th:inline="javascript">

            var msg = [[${msg}]];

            console.log(msg);

            if(msg){
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e){
                searchForm.submit();
            });
            $('.btn-clear').click(function(e){
                searchForm.empty().submit();
            });

        </script>
    </th:block>

</th:block>
